﻿<style>
    .box {
        position: fixed;
        top: 0;
        left: 50%;
    }
</style>
<div class="box" ng-if="isDisplayed">
    <div>Really?</div>
    <button data-ng-click="decide($event,true)">Yes</button>
    <button data-ng-click="decide($event,false)">Oh!No</button>
</div>