﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="AppA1">
<head>
    <title></title>
        
</head>
<!--data-ng-non-bindable-->
<body data-ng-controller="MainController">
    <input data-ng-model="x.a" />
    x: {{x}} <br />
    y: {{y}} <br />
    k: {{y}} <br />
    <input type="checkbox" ng-model="start" ng-change="decideStart()"/>
    {{start}}
    <input type="checkbox" ng-model="isLoggined" />
    <div ng-show="isLoggined">Logined</div>
    <div ng-show="!isLoggined">Please login</div>
    <div data-ng-if="isLoggined">Logined again</div>
    <!-- <valueCol> as <displayCol> for <row> in <rows> , valueCol maybe object-->
    <select data-ng-options="o as o for o in {{['vip','pre','normal']}}" data-ng-model="accountType">
        <option value="" ng-hide="accountType">Select noting</option>
    </select>
    <div ng-switch="accountType">
        <div ng-switch-when="vip">VIP Account</div>
        <div ng-switch-when="premium">Premium Account</div>
        <div ng-switch-default>Normal Account</div>
    </div>
    <!--<div ng-include="'main.js'" />-->
    <div ng-repeat="x in [1,2,3,4]">
        [{{$index}}] : {{x}} 
        <!--<%# [$index] %> : <%# x %>-->
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
