﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="AppA2_Task">
<head>
    <title></title>

</head>
<!--data-ng-non-bindable-->
<style>
    input {
        color: white;
    }
    input.ng-invalid.ng-dirty{
        background-color:red;
    }
    input.ng-valid.ng-dirty{
        background-color:green;
    }

</style>
<body data-ng-controller="MainController">
    <pending-request></pending-request>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="task.js"></script>
    <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
        <get-wait></get-wait>
    </div>
    <label>Task name</label>
    <br />
    Selected task: {{selectedTask}}
    <div data-a1-dropdownlist
         data-selected-value="selectedTask"
         data-source="TaskService.getTasks"
         data-value-field="name"
         data-text-field="name">
    </div>
    <form name="form" novalidate>
        <input type="text" data-ng-model="taskName" data-ng-enter="addTask()" required ng-trim="false"></input>
        <textarea data-ng-model="taskName" data-ng-enter="addTask()" required ng-trim="false"></textarea>
        <button type="button" data-ng-click="addTask()" data-ng-disabled="!(form.$dirty && form.$valid)">add task</button>
        <button type="button" data-ng-click="removeAll()" data-ng-if="hasTask()" data-ng-cloak>remove all</button>
        <button type="button" data-ng-click="multipleUpdate()" data-ng-cloak>multiple update</button>
    </form>
    <br />
    <label>Search</label>
    <input type="text" data-ng-model="taskNameSearch" data-ng-init="taskNameSearch = ''"/>
    <ul data-ng-cloak>
        <li data-ng-repeat="task in tasks | filter:taskNameSearch">
            <div data-ng-if="!task.inEditMode">
                <span data-ng-if='!task.inEditMode' ng-trim="false" ng-bind="task.name"></span>
                <div data-confirmed-click="removeTask($index)">
                    <button type="button">remove</button>
                </div>
                <button data-ng-click="editTask($index)">edit</button>
            </div>
            <div data-ng-if="task.inEditMode">
                <input type="text" data-ng-model="task.tmpName" data-ng-init="task.tmpName=task.name" />
                <button data-ng-click="updateTask($index)">update</button>
                <button data-ng-click="cancelEdit($index)">cancel</button>
            </div>

        </li>
    </ul>
</body>
</html>
